@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply font-poppins scroll-smooth;
  }

  nav {
    @apply sticky top-0 bg-richBlack drop-shadow-lg z-[1000];
  }

  h1 {
    @apply text-4xl sm:text-5xl font-bold title-gradient;
  }

  h2 {
    @apply text-[24px] sm:text-[32px] font-semibold title-gradient;
  }

  p {
    @apply text-sm sm:text-base font-light leading-6 sm:leading-7;
  }

  section {
    @apply py-[50px];
  }
}

.bg-hero {
  background-image: url("../src/assets/images/background-lg.jpg");
  background-size: cover;
  background-position: right;
  height: 360px;
}

@media screen and (max-width: 639px) {
  .bg-hero {
    background-image: url("../src/assets/images/background-sm.jpg");
    height: 419px;
  }
}

.container {
  @apply max-w-[954px] mx-auto px-[15px];
}

.title-gradient {
  @apply bg-gradient-to-r from-aqua to-mint bg-clip-text text-transparent;
}

.flex-column {
  @apply flex flex-col gap-2 sm:gap-4;
}

@layer components {
  .btn {
    @apply w-fit p-2 sm:p-3 rounded-lg drop-shadow-lg text-richBlack bg-aqua hover:bg-[#66E7E2] hover:-translate-y-0.5 hover:transition-all;
  }

  .btn-carousel {
    @apply p-1 rounded-full shadow bg-white/80 text-gray-800 hover:bg-white w-[30px] h-[30px];
  }

  .bubble {
    @apply text-sm sm:text-base px-3 py-1.5 bg-aqua text-richBlack rounded-full;
  }

  .card {
    @apply bg-midnightGreen rounded-lg p-3 sm:p-6;
  }

  .card-mini {
    @apply card p-2 sm:p-4;
  }

  .card-outline {
    @apply border-solid border-2 border-aqua rounded-lg p-3 sm:p-6;
  }

  .expand-toggle {
    @apply text-sm font-light text-aqua;
  }

  .nav-item {
    @apply relative p-[15px] text-sm font-light;
  }

  .nav-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: aqua;
    transition: width 0.3s ease;
  }

  .nav-item:hover::before {
    width: 100%;
  }

  @media screen and (max-width: 639px) {
    .nav-item {
      background-color: transparent;
    }

    .nav-item:hover {
      background-color: rgba(0, 255, 255, 0.05);
      transition: all 0.3s ease;
    }

    .nav-item::before {
      top: 0;
      transition: height 0.3s ease;
    }

    .nav-item:hover::before {
      width: 2px;
      height: 100%;
    }
  }

  .slide-out {
    @apply transition-transform ease-out duration-1000;
  }

  .transition-max-height {
    transition: max-height 0.5s ease-in-out;
  }

  .title {
    @apply text-lg sm:text-xl font-semibold text-aqua;
  }

  .sub-title {
    @apply text-base font-light leading-7 text-aqua;
  }
}
