@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply font-poppins scroll-smooth;
  }

  nav {
    @apply sticky top-0 bg-richBlack drop-shadow-lg z-[1000];
  }
}

.container {
  @apply max-w-[954px] mx-auto px-[15px];
}

@layer components {
  .nav-item {
    @apply relative p-[15px] text-sm font-light;
  }

  .nav-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: aqua;
    transition: width 0.3s ease;
  }

  .nav-item:hover::before {
    width: 100%;
  }
}
